<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_01_Create_new_customer_account_successfully()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_01_Create_new_customer_account_successfully</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:21</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_02_Edit_customer_account_successfully()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_02_Edit_customer_account_successfully</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:22</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_03_Add_new_account()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_03_Add_new_account</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:22</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_04_Transfer_money_into_a_current_account()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_04_Transfer_money_into_a_current_account</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:22</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_05_Withdraw_money_from_current_account()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_05_Withdraw_money_from_current_account</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:22</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_06_Transfer_the_money_into_another_account()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_06_Transfer_the_money_into_another_account</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/05/13 14:00:22</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Payment_Function.TC_07_Check_current_account_balance_equal_30000()[pri:0, instance:com.guru99.newcustomer.Payment_Function@6a2bcfcb]">TC_07_Check_current_account_balance_equal_30000</td> 
  <td>main@703504298</td>   <td></td> </tr>
</table>
