<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.guru99.editcustomer.EditCustomer_ValidateFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_10_City_cannot_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_17_PIN_must_have_6_digits</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_08_Address_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_20_Telephone_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_14_State_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_16_PIN_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_23__Email_must_be_in_format</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_04_Valid_Customer_Id</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_03_Customer_id_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_12_state_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_02_Customer_id_must_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_21_Email_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_22_Email_must_be_in_format</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_15_PIN_must_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_13_State_cannot_be_numeric</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_01_Customer_id_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_09_City_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_19_Telephone_cannot_be_empty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_11_City_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_18_PIN_cannot_have_special_character</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
