<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>POM_traning_com.guru99.demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_01_Customer_id_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_01_Customer_id_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:26</td>   <td>2992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_02_Customer_id_must_be_numeric()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_02_Customer_id_must_be_numeric</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:29</td>   <td>6012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_03_Customer_id_cannot_have_special_character()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_03_Customer_id_cannot_have_special_character</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:33</td>   <td>10002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_04_Valid_Customer_Id()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_04_Valid_Customer_Id</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:37</td>   <td>14155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_08_Address_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_08_Address_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:41</td>   <td>17461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_09_City_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_09_City_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:44</td>   <td>20405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_10_City_cannot_be_numeric()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_10_City_cannot_be_numeric</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:47</td>   <td>23331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_11_City_cannot_have_special_character()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_11_City_cannot_have_special_character</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:49</td>   <td>26156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_12_state_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_12_state_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:54</td>   <td>30201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_13_State_cannot_be_numeric()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_13_State_cannot_be_numeric</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:57</td>   <td>33191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_14_State_cannot_have_special_character()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_14_State_cannot_have_special_character</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:59</td>   <td>36173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_15_PIN_must_be_numeric()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_15_PIN_must_be_numeric</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:03</td>   <td>39826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_16_PIN_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_16_PIN_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:06</td>   <td>42822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_17_PIN_must_have_6_digits()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_17_PIN_must_have_6_digits</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:09</td>   <td>45715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_18_PIN_cannot_have_special_character()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_18_PIN_cannot_have_special_character</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:13</td>   <td>49424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_19_Telephone_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_19_Telephone_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:17</td>   <td>54075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_20_Telephone_cannot_have_special_character()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_20_Telephone_cannot_have_special_character</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:21</td>   <td>57207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_21_Email_cannot_be_empty()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_21_Email_cannot_be_empty</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:24</td>   <td>60591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_22_Email_must_be_in_format()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_22_Email_must_be_in_format</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:27</td>   <td>63693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer_ValidateFields.TC_23__Email_must_be_in_format()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">TC_23__Email_must_be_in_format</td> 
  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:06:31</td>   <td>68060</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EditCustomer_ValidateFields.afterClass()[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25548982</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/05/23 23:05:05</td>   <td>-18230</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EditCustomer_ValidateFields.beforeClass(java.lang.String, java.lang.String)[pri:0, instance:com.guru99.editcustomer.EditCustomer_ValidateFields@69ea3742]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25548982</td>   <td></td> </tr>
</table>
